*.bat
ebjson.json
*.log
*.png
siteIdeas.txt
actsILike.txt
__pycache__
logs
temp
bugs.txt
crash_tracker.json
scrapeReport.json
reset_events.py
dbscratch_pad.py
.vscode
anybody_i_like.py
scratch.py
notes.txt
*Old.py
*backup.db